body {
  background: url(./main.png) no-repeat center center fixed;
  background-size:cover;
  font-family: 'Righteous', serif;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  text-transform:uppercase;
  font-size: 46px;
  color:azure;
}
